*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  background-color: #A59678;
  width: max-content;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1.5em;
  border-radius: 20rem;
}

.container {
  max-width: 1200px;
  padding: 2em;
  margin: 0 auto;
}

.site-header {
  background-color: #2e323f;
  color: #ffffff;
}


.main-nav {
  background-color: #3B4050;
  text-align: center;
  padding-top: 1em;
  height: 4rem;
  transition: height 0.5s linear;
  overflow: hidden;
}

.main-nav--expanded {
  background-color: #3B4050;
  text-align: center;
  padding-top: 1em;
  height: 18rem;
  transition: height 0.5s linear;
}

.hamburger {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 3rem;
  padding: 1em;
}

.hamburger-line {
  height: 0.125rem;
  width: 1.5rem;
  margin: 0 auto 0.5rem;
  background-color: #fff;
}

.hamburger:hover {
  cursor: pointer;
}

.main-nav__item {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  padding: 0.5em;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
}

.main-nav__item__btn {
  margin-top: 0.5em;
  padding: 0.25em 1.5em;
}

.main-nav__item__btn a {
  text-decoration: none;
  color: #fff;
}

.site-header__header-text {
  font-family: "Oswald", sans-serif;
  font-size: 2.625rem;
  line-height: 1.2;
}

.site-header__paragraph {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin-top: 2em;
}

.site-header__button {
  margin: 2em 0;
  font-family: "Oswald", sans-serif;
}


.header-text--color {
  color: #A59678;
}

.second {
  background-color: #f1f1f1;
}

.second-item {
  text-align: center;
  margin-top: 2em;
}

.second-item__header {
  color: #A59678;
  font-family: "Oswald", sans-serif;
}

.second-item__text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin-top: 1em;
}


.third__main-content__header {
  font-family: "Oswald", sans-serif;
  color: #A59678;
  margin-bottom: 1em;
}

.third__main-content__text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.third__main-content__img {
  margin: 2em 0;
}

.third__extra__item {
  background-color: #2e323f;
  max-width: 350px;
  color: #fff;
  margin-top: 1em;
  padding: 2em 1em;
  text-align: center;
  line-height: 1.5;
}

.extra__item__header {
  font-family: "Oswald", sans-serif;
  margin-bottom: 0.5em;
}

.extra__item__text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
}
.site-footer {
  background-color: #2e323f;
  color: #fff;
}

.site-footer__details {
  font-family: "Montserrat", sans-serif;
}

.site-footer__details__heading{
  color: #A59678;
  font-family: "Oswald", sans-serif;
  margin-bottom: 0.5em;
}

.site-footer__details__nav{
  margin-top: 2em;
}

.site-footer__details-nav-block {
  list-style: none;
  margin-bottom: 2.5em;
}

.site-footer__site-nav-block__item a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-bottom: .75em;
}

.footer__heading {
  font-family: "Oswald", sans-serif;
  margin-bottom: 1em;
}

/* MEDIUM SCREENS */
@media (min-width: 700px) {
  .third__extra {
    display: flex;
    gap: 1em;
  }
}

/* LARGE SCREENS */
@media (min-width: 1000px) {
  .cta {
    display: flex;
    gap: 2em;
  }
  .main-nav-container {
    background-color: #3B4050;
  }
  .main-nav {
    display: flex;
    max-height: 4rem;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em;
    margin: 0 auto;
  }

  .main-nav li {
    display: inline;
  }

  .hamburger {
    visibility: hidden;
  }

  .site-header {
    padding-bottom: 5em;
  }

  .site-header__header-text{
    font-size: 5.625rem;
  }

  .site-header__paragraph {
    font-size: 1.5rem;
  }

  .cta__text {
    align-self: flex-end;
  }

  .site-header__button {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .second__content {
    display: flex;
    gap: 3em;
  }

  .second-item__header {
    font-size: 1.875rem;
  }

  .second-item__text {
    font-size: 1.125rem;
  }

  .third {
    padding: 10em 0;
  }

  .third__main {
    display: flex;
    gap: 10em;
  }

  .third__main-content {
    max-width: 600px;
  }

  .third__main-content__header {
    font-size: 2.25rem;
  }

  .third__main-content__text {
    font-size: 1.3125rem;
  }

  .third__extra {
    flex-direction: column;
  }

  .third__extra__item {
    padding: 2.5em;
  }

  .third__extra__item__header {
    font-size: 1.875rem;
  }

  .third__extra__item__text {
    font-size: 1.125rem;
  }

  .footer__heading {
    text-align: center;
    font-size: 3rem;
  }

  .site-footer__details, 
  .site-footer__details__nav {
    display: flex;
    gap: 5em;
    width: 100%;
    margin-top: 0;
  }

  .site-footer__details__about {
    max-width: 500px;
  }

  .site-footer__details__heading {
    font-size: 1.3125rem;
  }

  .site-footer__site-nav-block__item {
    font-size: 1rem;
    margin-top: 1em;
  }
}