*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  padding: 2em;
}

.site-header {
  background-color: #2e323f;
  color: #ffffff;
}


.main-nav {
  background-color: #3B4050;
  text-align: center;
  padding-top: 1em;
  height: 4rem;
  transition: height 0.5s linear;
  overflow: hidden;
}

.main-nav--expanded {
  background-color: #3B4050;
  text-align: center;
  padding-top: 1em;
  height: 18rem;
  transition: height 0.5s linear;
}

.hamburger {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 3rem;
  padding: 1em;
}

.hamburger-line {
  height: 0.125rem;
  width: 1.5rem;
  margin: 0 auto 0.5rem;
  background-color: #fff;
}

.main-nav__item {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  color: #fff;
  padding: 0.5em;
}

.site-header__header-text {
  font-family: "Oswald", sans-serif;
  font-size: 2.625rem;
  line-height: 1.2;
}

.header-text--color {
  color: #A59678;
}

.second {
  background-color: #6F737F;
}

.third__extra__item {
  background-color: #2e323f;
  color: #fff;
}

.site-footer {
  background-color: #2e323f;
}